:root {
  --main-bg-color: #f4f6f8;
  --second-bg-color: #fafbfd;
  --header-bg-color: #fcfdfe;
  --services-bg-color: #ffffff;
  --primary-color: 60, 131, 246;

  --secondary-color: #eed38d;


  --primary-text: #344256;
  --paragraph-text: #a3a3b8;

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


body{
    background-color: var(--main-bg-color);
    margin: 0px;
}

nav{
  background-color: var(--header-bg-color);
  border-bottom: 1px solid #e1e7ef;
  height: 70px;

}

.navbar-nav{
  column-gap: 5px;
}
#navbar{
    margin: 0px 5vw;
    background-color: var(--header-bg-color);
    width: 100vw !important;
}

#navbar.show{
  margin: 0px;
}
#navbar.collapsing{
  margin: 0px;
}

.d-flex{
  column-gap: 10px;
}

.navbar-brand{
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(var(--primary-color));
}

.nav-item{
  font-weight: 500;
}

.hero-section{
  height: calc(100vh - 70px);
  display: flex;
  align-items: center; 
  padding: 0px 5vw;
  column-gap: 5%;
}


.hero-left{
    width: 50%;
}

.hero-hook{
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-text);
  margin: 12px 0px;

}
.large-paragraph{
  color: var(--paragraph-text);
  font-size: 20px;
  margin: 8px 0px 24px;
}

.medium-paragraph{
  color: var(--paragraph-text);
  font-size: 1.125rem;
}

.hero-hook span{
  color: rgba(var(--primary-color));
}

.hero-image{
  width: 50%;
  border-radius: 12px;
  
}

.hero-buttons{
  margin: 24px 0px;
}

.hero-stats{
  display: flex;
  width: 100%;
  /* column-gap: 10%; */
}

.hero-stats div{
  width: 40%
}
.stat-big{
  color: rgba(var(--primary-color));
  font-size: 30px;
  font-weight: 700;
}

.stat-small{
  display: inline;
  color: var(--paragraph-text);
}


@media (max-width: 1225px) {
  .hero-section{
    flex-direction: column;
    height: auto;
  }
  .hero-left{
    width: 100%;
  }
  .hero-image{
    width: 100%;
    border-radius: 12px;

  }
}






.about-section{
  background-color: var(--second-bg-color);
  padding: 8% 5%;
  display: flex;
  column-gap: 10%;
}

.about-section h2{
  font-weight: 700;
}

.about-section div{
}

.about-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  row-gap: 12px;
}

.about-card{
  background-color: #ffffff;
  border: 2px solid #e3e9f0;
  border-radius: 8px;
  transition: 0.5s;
  width: 100%;
  padding: 24px;
}
.about-left{
  width: 40%
}

.about-card:hover{
  transform: scale(1.05);
}

.about-card-blue{
  background-color: rgba(var(--primary-color));
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
}

.stat-white-big{
  font-size: 30px;
  font-weight: 700;
}

.stat-white-small{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.about-list{
  color: #344256;
  margin-bottom: 12px;
}

.check{
  height: 20px;
}




.services-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0px;
  background-color: var(--services-bg-color);
}

.services-head{
  max-width: 48rem;

  text-align: center;

}
.services-head h2{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.services-head p{
  color: var(--paragraph-text);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.services-tiles{
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.services-tile{
  border: 2px solid #e3e9f0;
  border-radius: 8px;
  transition: 0.5s;
  padding: 24px;
  width: 30%;
}

.services-tile:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}



.primary-btn{
  background-color: rgba(var(--primary-color));
  border: none;
  padding: 5px 24px;
  color: white;
  transition: .5s;
  border-radius: 8px;
}
.primary-btn:hover{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.secondary-btn{
  background-color: white;
  border: 2px solid rgba(var(--primary-color), 0.2);
  padding: 5px 24px;
  color: rgba(var(--primary-color));
  transition: 0.5s;
  border-radius: 8px;
  
}

.secondary-btn:hover{
  border: 2px solid rgba(var(--primary-color), 0.4);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.third-button{
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #344256;

}

.services-button{
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
